body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 5;
    width: 100%;
    padding: 20px 0; /* Espaciado interno del menú */
  }
  
  .logo {
    width: 90px; /* Ancho del círculo */
    height: 900px; /* Altura del círculo */
    border: 2px solid; /* Hace que el elemento sea un círculo */
   
  }
  
  .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .nombre {
    color: rgb(255, 255, 255); /* Color del texto */
    margin-top: 10px; /* Espaciado superior */
  }
  